In [ ]:
# Importación de librerias
import pandas as pd
import ast
import gzip
from datetime import datetime

In [ ]:
# Carga del dataframe con el archivo steam_games.json.gz
df_steam_games = pd.read_json('dataset/steam_games.json.gz',lines=True,compression='gzip')

In [ ]:
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

In [ ]:
# Se detalla que el dataframe df_steam_games, contiene filas con todos sus datos NaN
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [ ]:
# Se procede a eliminar todas las filas en donde todos los valores sean NaN y observamos los resultados
df_steam_games = df_steam_games.dropna(how='all')

print('Número de filas por columnas: ', df_steam_games.shape)
df_steam_games.info()
df_steam_games.head()
df_steam_games.shape

Número de filas por columnas:  (32135, 13)
<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

(32135, 13)

In [ ]:
# Eliminar los valores nulos en todo el daset
df_games = df_steam_games.dropna(how='all').reset_index(drop=True)
df_steam_games.shape

(32135, 13)

In [ ]:
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None

In [ ]:
# Relacionar la cantidad de valores NaN por cada Etiqueta
df_steam_games.isna().sum()

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

In [ ]:
# Revisión de valores nulos en las etiquetas del dataset
detalle = {'Etiqueta': [], 'Tipo_datos': [], 'Nulos': []}

for col in df_steam_games.columns:        
    detalle["Etiqueta"].append(col)
    detalle["Tipo_datos"].append(df_steam_games[col].apply(type).unique())        
    detalle["Nulos"].append(df_steam_games[col].isnull().sum())

df_detalle = pd.DataFrame(detalle)
df_detalle

        Etiqueta                                         Tipo_datos  Nulos
0      publisher                [<class 'str'>, <class 'NoneType'>]   8052
1         genres               [<class 'list'>, <class 'NoneType'>]   3283
2       app_name                [<class 'str'>, <class 'NoneType'>]      2
3          title                [<class 'str'>, <class 'NoneType'>]   2050
4            url                                    [<class 'str'>]      0
5   release_date                [<class 'str'>, <class 'NoneType'>]   2067
6           tags               [<class 'list'>, <class 'NoneType'>]    163
7    reviews_url                [<class 'str'>, <class 'NoneType'>]      2
8          specs               [<class 'list'>, <class 'NoneType'>]    670
9          price  [<class 'float'>, <class 'str'>, <class 'NoneT...   1377
10  early_access                                  [<class 'float'>]      0
11            id                                  [<class 'float'>]      2
12     developer                [<class 'str'>, <class 'NoneType'>]   3299

In [ ]:
# Conocer el contenio de las etiquetas para determinar tipo de dato

contenido = {'Etiqueta': [], 'Valores': []}
for col in df_steam_games.columns:
    contenido["Etiqueta"].append(col)
    contenido["Valores"].append(df_steam_games[col].iloc[0])

df_contenido = pd.DataFrame(contenido)
print(df_contenido)

        Etiqueta                                            Valores
0      publisher                                          Kotoshiro
1         genres      [Action, Casual, Indie, Simulation, Strategy]
2       app_name                                Lost Summoner Kitty
3          title                                Lost Summoner Kitty
4            url  http://store.steampowered.com/app/761140/Lost_...
5   release_date                                         2018-01-04
6           tags      [Strategy, Action, Indie, Casual, Simulation]
7    reviews_url  http://steamcommunity.com/app/761140/reviews/?...
8          specs                                    [Single-player]
9          price                                               4.99
10  early_access                                                0.0
11            id                                           761140.0
12     developer                                          Kotoshiro

In [ ]:
# Se decide confirmar el tipo de valores en la etiqueta price, es imortante tener en claro que contenga valores numéricos por si se requere para futuras consultas

df_steam_games['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, None, 'Free', 10.99, 1.5899999999999999, 14.99, 1.99,
       59.99, 8.99, 6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49,
       15.99, 1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.3900000000000001, 'Free HITMAN™ Holiday Pack', 36.99,
       4.49, 2.0, 4.0, 9.0, 234.99, 1.9500000000000002, 1.5, 199.0, 189.0,
       6.66, 27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0,
       27.49, 3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76,
       1.0, 2.3, 0.9500000000000001, 172.24, 249.99, 2.9699999999999998,
       10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9, 2.89,
       'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98, 9.95,
       7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49,
       1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

Como se observa, se confirma que no todo el contenido de la etiqueta prices, no todos sus valores es de tipo numérico, es de tener en cuenta para posibles consultas, se decide reemplazar los valores que no son de tipo float con el valor 0.0 que son: los valores textos y los valores NaN.

In [ ]:
# reemplazar estos valores cadena 'Starting at $499.00', 'Starting at $449.00' cambiarlos a su precio numerico minimo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 499.00 if isinstance(x, str) and '$499.00' in x.lower() else x)
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 449.00 if isinstance(x, str) and '$449.00' in x.lower() else x)

In [ ]:
# Como se observa, se confirma que no todo el contenido de la etiqueta prices, no todos sus valores es de tipo numérico, es de tener en 
# cuenta para posibles consultas, se decide reemplazar los valores que no son de tipo float con el valor 0.0 que son: los valores textos y los valores NaN.

df_steam_games['price'] = pd.to_numeric(df_steam_games['price'], errors='coerce').fillna(0.0)

df_steam_games['price'].unique()

array([4.9900e+00, 0.0000e+00, 9.9000e-01, 2.9900e+00, 3.9900e+00,
       9.9900e+00, 1.8990e+01, 2.9990e+01, 1.0990e+01, 1.5900e+00,
       1.4990e+01, 1.9900e+00, 5.9990e+01, 8.9900e+00, 6.9900e+00,
       7.9900e+00, 3.9990e+01, 1.9990e+01, 7.4900e+00, 1.2990e+01,
       5.9900e+00, 2.4900e+00, 1.5990e+01, 1.2500e+00, 2.4990e+01,
       1.7990e+01, 6.1990e+01, 3.4900e+00, 1.1990e+01, 1.3990e+01,
       3.4990e+01, 7.4760e+01, 1.4900e+00, 3.2990e+01, 9.9990e+01,
       1.4950e+01, 6.9990e+01, 1.6990e+01, 7.9990e+01, 4.9990e+01,
       5.0000e+00, 4.4990e+01, 1.3980e+01, 2.9960e+01, 1.1999e+02,
       1.0999e+02, 1.4999e+02, 7.7171e+02, 2.1990e+01, 8.9990e+01,
       9.8000e-01, 1.3992e+02, 4.2900e+00, 6.4990e+01, 5.4990e+01,
       7.4990e+01, 8.9000e-01, 5.0000e-01, 2.9999e+02, 1.2900e+00,
       3.0000e+00, 1.5000e+01, 5.4900e+00, 2.3990e+01, 4.9000e+01,
       2.0990e+01, 1.0930e+01, 1.3900e+00, 3.6990e+01, 4.4900e+00,
       2.0000e+00, 4.0000e+00, 9.0000e+00, 2.3499e+02, 1.9500e+00,
       1.5000e+00, 1.9900e+02, 1.8900e+02, 6.6600e+00, 2.7990e+01,
       1.0490e+01, 1.2999e+02, 1.7900e+02, 2.6990e+01, 3.9999e+02,
       3.1990e+01, 3.9900e+02, 2.0000e+01, 4.0000e+01, 3.3300e+00,
       1.9999e+02, 2.2990e+01, 3.2000e+02, 3.8850e+01, 7.1700e+01,
       5.9950e+01, 9.9500e+02, 2.7490e+01, 3.3900e+00, 6.0000e+00,
       1.9950e+01, 4.9999e+02, 1.6060e+01, 4.6800e+00, 1.3140e+02,
       4.4980e+01, 2.0276e+02, 1.0000e+00, 2.3000e+00, 9.5000e-01,
       1.7224e+02, 2.4999e+02, 2.9700e+00, 1.0960e+01, 1.0000e+01,
       3.0000e+01, 2.6600e+00, 6.4800e+00, 1.9290e+01, 1.1150e+01,
       1.8900e+01, 2.8900e+00, 9.9000e+01, 8.7940e+01, 5.9900e+02,
       8.9800e+00, 9.6900e+00, 4.9000e-01, 9.9800e+00, 9.9500e+00,
       7.0000e+00, 4.9900e+02, 4.4900e+02, 1.2890e+01, 6.4900e+00,
       1.8700e+00, 4.2990e+01, 4.1990e+01, 2.8999e+02, 2.3960e+01,
       5.6500e+00, 1.2000e+01, 1.3370e+01, 1.8996e+02, 1.2499e+02,
       1.9980e+01, 1.6091e+02])

In [ ]:
df_steam_games['price'].dtype

dtype('float64')

In [ ]:
# Revisar que los valores de la columna price sea formato float y concuerden.
df_steam_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

In [ ]:
#Reemplazo str que contienen ciertas palabras claves por valor 0
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 0 if isinstance(x, str) and any(keyword in x.lower() for keyword in ['free', 'play', 'install', 'party']) else x)

In [ ]:
#Elimino texto extra, dejando solo precio minimo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 449.00 if isinstance(x, str) and '$449.00' in x.lower() else x)

In [ ]:
#Elimino texto extra, dejando solo precio maximo
df_steam_games['price'] = df_steam_games['price'].apply(lambda x: 499.00 if isinstance(x, str) and '$499.00' in x.lower() else x)

In [ ]:
# Revizar que no tengamos valores inadecuados
df_steam_games["price"].unique()

array([4.9900e+00, 0.0000e+00, 9.9000e-01, 2.9900e+00, 3.9900e+00,
       9.9900e+00, 1.8990e+01, 2.9990e+01, 1.0990e+01, 1.5900e+00,
       1.4990e+01, 1.9900e+00, 5.9990e+01, 8.9900e+00, 6.9900e+00,
       7.9900e+00, 3.9990e+01, 1.9990e+01, 7.4900e+00, 1.2990e+01,
       5.9900e+00, 2.4900e+00, 1.5990e+01, 1.2500e+00, 2.4990e+01,
       1.7990e+01, 6.1990e+01, 3.4900e+00, 1.1990e+01, 1.3990e+01,
       3.4990e+01, 7.4760e+01, 1.4900e+00, 3.2990e+01, 9.9990e+01,
       1.4950e+01, 6.9990e+01, 1.6990e+01, 7.9990e+01, 4.9990e+01,
       5.0000e+00, 4.4990e+01, 1.3980e+01, 2.9960e+01, 1.1999e+02,
       1.0999e+02, 1.4999e+02, 7.7171e+02, 2.1990e+01, 8.9990e+01,
       9.8000e-01, 1.3992e+02, 4.2900e+00, 6.4990e+01, 5.4990e+01,
       7.4990e+01, 8.9000e-01, 5.0000e-01, 2.9999e+02, 1.2900e+00,
       3.0000e+00, 1.5000e+01, 5.4900e+00, 2.3990e+01, 4.9000e+01,
       2.0990e+01, 1.0930e+01, 1.3900e+00, 3.6990e+01, 4.4900e+00,
       2.0000e+00, 4.0000e+00, 9.0000e+00, 2.3499e+02, 1.9500e+00,
       1.5000e+00, 1.9900e+02, 1.8900e+02, 6.6600e+00, 2.7990e+01,
       1.0490e+01, 1.2999e+02, 1.7900e+02, 2.6990e+01, 3.9999e+02,
       3.1990e+01, 3.9900e+02, 2.0000e+01, 4.0000e+01, 3.3300e+00,
       1.9999e+02, 2.2990e+01, 3.2000e+02, 3.8850e+01, 7.1700e+01,
       5.9950e+01, 9.9500e+02, 2.7490e+01, 3.3900e+00, 6.0000e+00,
       1.9950e+01, 4.9999e+02, 1.6060e+01, 4.6800e+00, 1.3140e+02,
       4.4980e+01, 2.0276e+02, 1.0000e+00, 2.3000e+00, 9.5000e-01,
       1.7224e+02, 2.4999e+02, 2.9700e+00, 1.0960e+01, 1.0000e+01,
       3.0000e+01, 2.6600e+00, 6.4800e+00, 1.9290e+01, 1.1150e+01,
       1.8900e+01, 2.8900e+00, 9.9000e+01, 8.7940e+01, 5.9900e+02,
       8.9800e+00, 9.6900e+00, 4.9000e-01, 9.9800e+00, 9.9500e+00,
       7.0000e+00, 4.9900e+02, 4.4900e+02, 1.2890e+01, 6.4900e+00,
       1.8700e+00, 4.2990e+01, 4.1990e+01, 2.8999e+02, 2.3960e+01,
       5.6500e+00, 1.2000e+01, 1.3370e+01, 1.8996e+02, 1.2499e+02,
       1.9980e+01, 1.6091e+02])

In [ ]:
# Verificar duplicados
tiene_duplicados = df_steam_games['id'].duplicated().any()
duplicados = df_steam_games[df_steam_games['id'].duplicated()]['id']
print(duplicados)

102883    612880.0
119271         NaN
Name: id, dtype: float64

In [ ]:
# Se observa que hay dos duplas que están duplicas con los id=612882 y id=NaN se procede a eliminar duplicados.

filtered_rows = df_steam_games[df_steam_games['id'] == 612880]
#filtered_rows = df_steam_games[df_steam_games['id'].isna()]


# Imprimir todas las filas filtradas
print("Filas donde el valor de la columna 'id' es igual a 612880:")
filtered_rows

Filas donde el valor de la columna 'id' es igual a 612880:

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games

In [ ]:
# elimnar el primer registro de las duplas encontradas id=612880 y NaN

# Encuentra el índice de la primera fila duplicada
indice_duplicado = df_steam_games[df_steam_games['id'] == 612880].index[0]

# Crea una máscara booleana para excluir el primer duplicado
mascara = ~df_steam_games.index.isin([indice_duplicado])

# Selecciona las filas con la máscara
""" df_unico = df_steam_games[mascara]
df_steam_games=df_unico """

filtered_rows = df_steam_games[df_steam_games['id'] == 612880]
filtered_rows

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games

In [ ]:
""" elimnar el primer registro de las duplas encontradas id=NaN, se observa que el primer registro contiene muchos valores NaN, 
    además la etiqueta Developer solo está disponible en el segundo registro, se verificó que el develepoer Rocksteady Studios,Feral Interactive (Mac),
    encuentra en otros registros del archivo, se opta entonces por eliminar el primer registro. """

indice_duplicado = df_steam_games[df_steam_games['id'].isna()].index[0]

# Crear máscara booleana para excluir el primer duplicado (NaN)
mascara = ~df_steam_games.index.isin([indice_duplicado])

# Seleccionar filas con la máscara
df_unico = df_steam_games[mascara]

# Reemplazar df_steam_games con solo valores verdaderos de la máscara
df_steam_games = df_unico.copy()

# se corrobora que se elimina el registro
filtered_rows = df_steam_games[df_steam_games['id'].isna()]
filtered_rows

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [ ]:
# Verificar que no tengan regsitros duplicados de la columna id con valores nulos

rows_with_nan_id = df_steam_games[df_steam_games['id'].isna()]
rows_with_nan_id

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [ ]:
# Se eliminan todas las filas donde el 'id 'sea del tipo NaN por considerar que no es consistente tener estos casos
df_steam_games = df_steam_games.dropna(subset= 'id', axis = 0)
df_steam_games.shape

(32133, 13)

In [ ]:
#
df_steam_games.rename(columns={'id':'item_id'}, inplace=True)
df_steam_games.head(4)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域

In [ ]:
# Revisar la columna release_date si tiene valore nulos
print(df_steam_games['release_date'].isna().sum())
#print(df_steam_games['release_date'].isna())
df_steam_games.isna().sum()

2066

publisher       8051
genres          3282
app_name           1
title           2049
url                0
release_date    2066
tags             162
reviews_url        0
specs            669
price              0
early_access       0
item_id            0
developer       3298
dtype: int64

In [ ]:
""" Tranformar la columna release_date que esla fecha de lanzamiento del juego, ya que hay una consulta que se solicita: 
    def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. 
   (reviews.recommend = True y comentarios positivos)

   Se decide transformar la columna release_date con el valor de año, pero hay que tener en cuenta que tiene valores (2066 valores nulos) y el formato 
   actual no es de tipo date, para el caso de valores nulos, se contemplan los criterios como que los nulos tienen una distribución aleatorios y 
   no tiene otras  columnas relacionadas; se  opta con actualziar los nulos con la mediana de las fechas. """

# Convertir la columna release_date a datetime
df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

# Calcular la mediana de las fechas
# Convertir las fechas a enteros de 64 bits para calcular la mediana
median_timestamp = df_steam_games['release_date'].dropna().astype('int64').median()
median_date = pd.to_datetime(median_timestamp)

# Rellenar los valores nulos con la mediana de fechas
df_steam_games['release_date'] = df_steam_games['release_date'].fillna(median_date)

In [ ]:

# Verificar el resultado
df_steam_games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,2016-04-18,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None

In [ ]:
# Asegurando que la columna release_date esté con formato date, se procede a lo siguiente:
# Adicionar una columna 'year' que extrae el año de la columna 'release_date'
df_steam_games['year'] = df_steam_games['release_date'].dt.year

In [ ]:
# Verificar el resultado
df_steam_games.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,item_id,developer,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,2018
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,2017

In [ ]:
# Eliminar la columna 'release_date'
df_steam_games.drop(columns=['release_date'], inplace=True)

# Verificar el resultado
df_steam_games.head(2)

,publisher,genres,app_name,title,url,tags,reviews_url,specs,price,early_access,item_id,developer,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,2018

In [33]:
""" Se observa que las columnas publisher, app_name, title, developer, tiene valores nulos, se actualiozan  
 con valores del tipo 'Inexistente'. """

# Etiquetas a actualiziar
actualizacin = ['publisher', 'app_name', 'title', 'developer']
# Se actualzian los valores nulos
df_actualizado = df_steam_games[actualizacin].fillna('Inexistente')
# Se borran las columnas originales y se concatenan las actualizadas con todo el dataframe

# df_steam_games = pd.concat([df_games.drop(actualizacin, axis=1), df_actualizado], axis=1)

df_actualizado.head()

,genres,url,release_date,tags,reviews_url,specs,price,early_access,id,publisher,app_name,title,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
1,"[Free to Play, Indie, RPG, Strategy]",http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,NaN,NaN,NaN,NaN
2,"[Casual, Free to Play, Indie, Simulation, Sports]",http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,NaN,NaN,NaN,NaN
3,"[Action, Adventure, Casual]",http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,NaN,NaN,NaN,NaN
4,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,NaN,NaN,NaN,NaN

In [34]:
# la lista de generos se acomoda en filas unicas para cada tipo
df_steam_games = df_steam_games.explode('genres')
df_steam_games

,genres,url,release_date,tags,reviews_url,specs,price,early_access,id,publisher,app_name,title,developer
0,Action,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
0,Casual,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
0,Indie,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
0,Simulation,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
0,Strategy,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ghost_RUS Games,Colony On Mars,Colony On Mars,"Nikita ""Ghost_RUS"""
120441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sacada,LOGistICAL: South Africa,LOGistICAL: South Africa,Sacada
120442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
120443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"
120444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inexistente,Maze Run VR,Inexistente,Inexistente

In [35]:
# eliminar los item que son nulos
df_steam_games = df_steam_games.dropna(subset=['item_id'])
df_steam_games.info()

KeyError: ['item_id']

In [ ]:
# Eliminamos las columnas que no se requieren para las consultas de la Api.

df_steam_games = df_steam_games.drop(['tags', 'specs', 'url', 'reviews_url', 'app_name', 'early_access'], axis=1)
df_steam_games.columns

Index(['genres', 'release_date', 'price', 'early_access', 'item_id',
       'publisher', 'app_name', 'title', 'developer'],
      dtype='object')

In [ ]:
df_steam_games.shape

(74834, 9)

In [ ]:
# Mostrar los nombres de las columnas disponibles del DataFrame df_steam_games
print(df_steam_games.columns)

# Mostrar sus tipos de datos
for column in df_steam_games.columns:
    print(f"Etiqueta: {column}, Tipo de dato: {df_steam_games[column].dtype}")

Index(['genres', 'release_date', 'price', 'early_access', 'item_id',
       'publisher', 'app_name', 'title', 'developer'],
      dtype='object')
Etiqueta: genres, Tipo de dato: object
Etiqueta: release_date, Tipo de dato: object
Etiqueta: price, Tipo de dato: float64
Etiqueta: early_access, Tipo de dato: float64
Etiqueta: item_id, Tipo de dato: float64
Etiqueta: publisher, Tipo de dato: object
Etiqueta: app_name, Tipo de dato: object
Etiqueta: title, Tipo de dato: object
Etiqueta: developer, Tipo de dato: object

In [36]:
#Terminado el proceso de ETL  steam_games, se procede a generar el archivo comprimido de tipo parquet.
#df_steam_games.to_parquet('../dataset/steam_games.parquet')
df_steam_games.to_parquet('dataset/df_steam_games.parquet', engine='pyarrow')

ArrowInvalid: ("Could not convert 'Free To Play' with type str: tried to convert to double", 'Conversion failed for column price with type object')

*************************************************************************
*             Procesos ETL para el archivo user_reviews                 *
*************************************************************************

In [14]:
# Carga del dataframe con el archivo user_reviews.json.gz
data = []
with gzip.open('dataset/user_reviews.json.gz', 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            # Suponiendo que las líneas contienen datos JSON válidos
            json_data = eval(line.strip())  # Suponiendo una estructura JSON simple, use ast.literal_eval() para mayor seguridad
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

df_user_reviews = pd.DataFrame(data)

In [15]:
# Observamos la estructura del archivo
df_user_reviews.info()
df_user_reviews.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [16]:
# Mostrar los nombres de las columnas disponibles del DataFrame user_reviews
print(df_user_reviews.columns)

# Mostrar sus tipos de datos
for column in df_user_reviews.columns:
    print(f"Etiqueta: {column}, Tipo de dato: {df_user_reviews[column].dtype}")

Index(['user_id', 'user_url', 'reviews'], dtype='object')
Etiqueta: user_id, Tipo de dato: object
Etiqueta: user_url, Tipo de dato: object
Etiqueta: reviews, Tipo de dato: object

In [17]:
# Verificar duplicados
tiene_duplicados = df_user_reviews['user_id'].duplicated().any()
duplicados = df_user_reviews[df_user_reviews['user_id'].duplicated()]['user_id']
print(duplicados)

456             bokkkbokkk
1182            ImSeriouss
1456     76561198062039159
1477     76561198045009232
1746          nitr0ticwolf
               ...
17819    76561198076474887
17916          yolofaceguy
18028    76561198075591109
18234    76561198092022514
18309       SuchGayMuchWow
Name: user_id, Length: 314, dtype: object

In [25]:
# Eliminar duplicados y mantener la primera aparición

df_user_reviews = df_user_reviews.drop_duplicates(subset=['user_id'], keep='first')

df_user_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [26]:
# Verificar duplicados
tiene_duplicados = df_user_reviews['user_id'].duplicated().any()
duplicados = df_user_reviews[df_user_reviews['user_id'].duplicated()]['user_id']
print(duplicados)

Series([], Name: user_id, dtype: object)

In [49]:
# Transformación de la columna reviuws que se requiere para las consultas solicitadas

#con la funcion explode() se desglosa las listas de diccionarios en filas individuales
copia = df_user_reviews.explode('reviews') 

# concatena para que cada item del diccionario quede en columnas individuales.
copia = pd.concat([copia.drop(['reviews'],axis= 1), copia['reviews'].apply(pd.Series)], axis = 1) 
copia.rename(columns= {0: 'sentiment_analysis'}, inplace= True)

# se borra las columnas que no son necesarias
copia.drop(['funny', 'posted', 'last_edited', 'helpful'], axis=1, inplace=True) 
copia['sentiment_analysis'] = 0
copia.head()

,user_id,user_url,item_id,recommend,review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,22200,True,It's unique and worth a playthrough.,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,43110,True,Great atmosphere. The gunplay can be a bit chu...,0
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,0
1,js41637,http://steamcommunity.com/id/js41637,227300,True,For a simple (it's actually not all that simpl...,0

In [36]:
#Revision de valores nulos para 'item_id'

copia['item_id'].isna().value_counts()

item_id
False    58430
True        28
Name: count, dtype: int64

In [39]:
# Eliminar los nulos

copia = copia.dropna(subset= ['item_id'])
copia.shape
copia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58430 entries, 0 to 25798
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             58430 non-null  object
 1   user_url            58430 non-null  object
 2   item_id             58430 non-null  object
 3   recommend           58430 non-null  object
 4   review              58430 non-null  object
 5   sentiment_analysis  58430 non-null  int64
dtypes: int64(1), object(5)
memory usage: 3.1+ MB

In [40]:
"""  En la colunmna o etiqueta sentiment_analysis se encuentra con valore 0, se decide actualizar estos valores aplicando por medio de la 
 librearia textlob para análisis de sentimientos con NLP, que como se indica en la rubrica, se debe aplicar la siguiente escala:
 debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. Lo anterior para facilitar el trabajo de los modelos
 de machine learning y el análisis de datos """
    
from textblob import TextBlob

# Aplicar el análisis de sentimiento directamente
copia['sentiment_analysis'] = copia['review'].apply(
    
    
    lambda review: 1 if not review else (lambda analisis: 0 if analisis.sentiment.polarity < 0 else (1 if analisis.sentiment.polarity == 0 else 2))(TextBlob(review))
)

copia

,user_id,user_url,item_id,recommend,review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,Simple yet with great replayability. In my opi...,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,22200,True,It's unique and worth a playthrough.,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,43110,True,Great atmosphere. The gunplay can be a bit chu...,2
1,js41637,http://steamcommunity.com/id/js41637,251610,True,I know what you think when you see this title ...,2
1,js41637,http://steamcommunity.com/id/js41637,227300,True,For a simple (it's actually not all that simpl...,0
...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,70,True,a must have classic from steam definitely wort...,2
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,362890,True,this game is a perfect remake of the original ...,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,273110,True,had so much fun plaing this and collecting res...,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,730,True,:D,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,440,True,so much fun :D,2

In [41]:
# Eliminar columnas innecesarias
copia = copia.drop(columns=['user_url', 'review'])
copia

                 user_id item_id recommend  sentiment_analysis
0      76561197970982479    1250      True                   2
0      76561197970982479   22200      True                   2
0      76561197970982479   43110      True                   2
1                js41637  251610      True                   2
1                js41637  227300      True                   0
...                  ...     ...       ...                 ...
25797  76561198312638244      70      True                   2
25797  76561198312638244  362890      True                   2
25798        LydiaMorley  273110      True                   2
25798        LydiaMorley     730      True                   2
25798        LydiaMorley     440      True                   2

[58430 rows x 4 columns]

In [42]:
# Finalizando, se exportar el dataset copia a formato parquet
copia.to_parquet('dataset/df_user_reviews.parquet', engine='pyarrow')

*************************************************************************
*             Procesos ETL para el archivo user_items                   *
*************************************************************************

In [78]:
# Carga del dataframe con el archivo users_items.json.gz
data = []
with gzip.open('dataset/users_items.json.gz', 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            json_data = ast.literal_eval(line)
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue
df_users_items = pd.DataFrame(data)

In [79]:
# Observamos la estructura del archivo
df_users_items.info()
df_users_items.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [81]:

# Mostrar los nombres de las columnas disponibles del DataFrame user_reviews
print(df_users_items.columns)

# Mostrar sus tipos de datos
for column in df_users_items.columns:
    print(f"Etiqueta: {column}, Tipo de dato: {df_users_items[column].dtype}")

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')
Etiqueta: user_id, Tipo de dato: object
Etiqueta: items_count, Tipo de dato: int64
Etiqueta: steam_id, Tipo de dato: object
Etiqueta: user_url, Tipo de dato: object
Etiqueta: items, Tipo de dato: object

In [82]:
# Verificamos la existencia de nulos
df_users_items.isna().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [83]:
# Eliminamos las columnas steam_id y user_url, que se consideran no son necesarias para nuestro proyecto.

df_users_items.drop(columns= ['steam_id', 'user_url'], inplace= True)
df_users_items

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...
88305,76561198323066619,22,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,[]
88308,76561198329548331,7,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,[]

In [84]:
# La columna 'items' contiene una lista de diccionarios. Se procede a normalizar para crear una ena etiqueta por cada valor.
normalizacion = df_users_items.explode('items').reset_index(drop=True)

elementos = pd.json_normalize(normalizacion['items']).reset_index(drop=True)

completo = pd.concat([normalizacion.drop('items', axis=1), elementos], axis=1)
completo.shape

(5170015, 6)

In [85]:
# Eliminan columnas innecesarias como item y item_name

completo.drop(columns= ['item_id','item_name'], inplace=True)
completo.head()

             user_id  items_count  playtime_forever  playtime_2weeks
0  76561197970982479          277               6.0              0.0
1  76561197970982479          277               0.0              0.0
2  76561197970982479          277               7.0              0.0
3  76561197970982479          277               0.0              0.0
4  76561197970982479          277               0.0              0.0

In [86]:
# Se revizan los valores duplicados 

duplicados = completo.loc[completo.duplicated()]
duplicados

                   user_id  items_count  playtime_forever  playtime_2weeks
3        76561197970982479          277               0.0              0.0
4        76561197970982479          277               0.0              0.0
5        76561197970982479          277               0.0              0.0
6        76561197970982479          277               0.0              0.0
7        76561197970982479          277               0.0              0.0
...                    ...          ...               ...              ...
5170003  76561198326700687          177               0.0              0.0
5170004  76561198326700687          177               0.0              0.0
5170005  76561198326700687          177               0.0              0.0
5170010  76561198329548331            7               0.0              0.0
5170013  76561198329548331            7               3.0              3.0

[2253629 rows x 4 columns]

In [87]:
# Al encontrar duplicados se decide eliminarlos.
final = duplicados.drop_duplicates(keep='first')
final

                   user_id  items_count  playtime_forever  playtime_2weeks
3        76561197970982479          277               0.0              0.0
95       76561197970982479          277               3.0              0.0
113      76561197970982479          277              25.0              0.0
115      76561197970982479          277               6.0              0.0
120      76561197970982479          277              50.0              0.0
...                    ...          ...               ...              ...
5169806          ArkPlays7            4               0.0              0.0
5169808  76561198323066619           22               0.0              0.0
5169830  76561198326700687          177               0.0              0.0
5170010  76561198329548331            7               0.0              0.0
5170013  76561198329548331            7               3.0              3.0

[335452 rows x 4 columns]

In [88]:
# Se observa que se denotan dos etiquetas playtime_forever y playtime_2weeks, que registran el tiempo acumulado del tiempo de juego por cada usuario
# se opta por dejar solamente la etiqueta playtime_forever y eliminamos playtime_2weeks.

final_total = final.drop('playtime_2weeks', axis=1)
final_total

                   user_id  items_count  playtime_forever
3        76561197970982479          277               0.0
95       76561197970982479          277               3.0
113      76561197970982479          277              25.0
115      76561197970982479          277               6.0
120      76561197970982479          277              50.0
...                    ...          ...               ...
5169806          ArkPlays7            4               0.0
5169808  76561198323066619           22               0.0
5169830  76561198326700687          177               0.0
5170010  76561198329548331            7               0.0
5170013  76561198329548331            7               3.0

[335452 rows x 3 columns]

In [89]:
#Seleccionar aleatoriamente 50.000 datos del DataFrame
Final_Recortado = final_total.sample(n=50000, random_state=123)

In [91]:
# Finalizando, se exportar el dataset copia a formato parquet
Final_Recortado.to_parquet('dataset/df_user_items.parquet', engine='pyarrow')

*********************************************************
*                     DataSet Final                     *
*********************************************************

In [ ]:
# se hace merge del dataframe de steam-games y los reviews de usuarios
df_Primera_Mezcla = pd.merge(df_steam_games, copia, on = 'item_id' )

# se hace merge del dataframe anterior con el de los user-items
df_Definitvo = pd.merge(df_Primera_Mezcla, Final_Recortado, on = 'user_id')

# Se genera la combinación para exportacion a formato parquet
df_Definitvo.to_parquet('dataset/df_defitivo.parquet', engine='pyarrow')

In [41]:
import pandas as pd
import pyarrow

In [44]:
df_games = pd.read_parquet('.\\Dataset\\df_steam_games.parquet') 
df_items = pd.read_parquet('.\\Dataset\\df_user_reviews.parquet')

In [50]:
df_games.head(2)

,genres,release_date,price,early_access,item_id,publisher,app_name,title,developer,year
0,Action,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Casual,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0

In [49]:
#df_games['year'] = df_games['release_date'].dt.year

#df['release_date'] = df['release_date'].apply(anio)

# Asegúrate de que la columna release_date sea de tipo datetime
df_games['release_date'] = pd.to_datetime(df_games['release_date'], errors='coerce')

# Extrae el año de la columna release_date
df_games['year'] = df_games['release_date'].dt.year

In [ ]:
import re
def anio(cadena:str) -> str|None:
    """
    La función anio toma la cadena de texto y devuelve un año en formato entero
    o None si la cadena está vacía.
    """
    patron = r'(\d{4})'
    match = re.search(patron, str(cadena))
    if match:
        return match.group(1)
    else:
        return None
df['release_date'] = df['release_date'].apply(anio)

In [58]:
df_games.head(10)

,genres,release_date,price,early_access,item_id,publisher,app_name,title,developer,year
0,Action,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Casual,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Indie,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Simulation,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
0,Strategy,2018-01-04,4.99,0.0,761140.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Free to Play,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Indie,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,RPG,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
1,Strategy,2018-01-04,0.00,0.0,643980.0,Inexistente,Inexistente,Inexistente,Inexistente,2018.0
2,Casual,2017-07-24,0.00,0.0,670290.0,Inexistente,Inexistente,Inexistente,Inexistente,2017.0

In [69]:
df_filtered = df_games[df_games['developer'] != 'Inexistente']
print(df_filtered)

              publisher                                             genres  \
0             Kotoshiro      [Action, Casual, Indie, Simulation, Strategy]
1      Making Fun, Inc.               [Free to Play, Indie, RPG, Strategy]
2          Poolians.com  [Casual, Free to Play, Indie, Simulation, Sports]
3                  彼岸领域                        [Action, Adventure, Casual]
4                  None                                               None
...                 ...                                                ...
32130   Ghost_RUS Games              [Casual, Indie, Simulation, Strategy]
32131            Sacada                          [Casual, Indie, Strategy]
32132      Laush Studio                        [Indie, Racing, Simulation]
32133          SIXNAILS                                    [Casual, Indie]
32134              None                                               None

                       app_name                     title  \
0           Lost Summoner Kitty       Lost Summoner Kitty
1                     Ironbound                 Ironbound
2       Real Pool 3D - Poolians   Real Pool 3D - Poolians
3                       弹炸人2222                   弹炸人2222
4                 Log Challenge                      None
...                         ...                       ...
32130            Colony On Mars            Colony On Mars
32131  LOGistICAL: South Africa  LOGistICAL: South Africa
32132             Russian Roads             Russian Roads
32133       EXIT 2 - Directions       EXIT 2 - Directions
32134               Maze Run VR                      None

                                                     url release_date  \
0      http://store.steampowered.com/app/761140/Lost_...   2018-01-04
1      http://store.steampowered.com/app/643980/Ironb...   2018-01-04
2      http://store.steampowered.com/app/670290/Real_...   2017-07-24
3         http://store.steampowered.com/app/767400/2222/   2017-12-07
4      http://store.steampowered.com/app/773570/Log_C...         None
...                                                  ...          ...
32130  http://store.steampowered.com/app/773640/Colon...   2018-01-04
32131  http://store.steampowered.com/app/733530/LOGis...   2018-01-04
32132  http://store.steampowered.com/app/610660/Russi...   2018-01-04
32133  http://store.steampowered.com/app/658870/EXIT_...   2017-09-02
32134  http://store.steampowered.com/app/681550/Maze_...         None

                                                    tags  \
0          [Strategy, Action, Indie, Casual, Simulation]
1      [Free to Play, Strategy, Indie, RPG, Card Game...
2      [Free to Play, Simulation, Sports, Casual, Ind...
3                            [Action, Adventure, Casual]
4                        [Action, Indie, Casual, Sports]
...                                                  ...
32130              [Strategy, Indie, Casual, Simulation]
32131                          [Strategy, Indie, Casual]
32132                        [Indie, Simulation, Racing]
32133  [Indie, Casual, Puzzle, Singleplayer, Atmosphe...
32134  [Early Access, Adventure, Indie, Action, Simul...

                                             reviews_url  \
0      http://steamcommunity.com/app/761140/reviews/?...
1      http://steamcommunity.com/app/643980/reviews/?...
2      http://steamcommunity.com/app/670290/reviews/?...
3      http://steamcommunity.com/app/767400/reviews/?...
4      http://steamcommunity.com/app/773570/reviews/?...
...                                                  ...
32130  http://steamcommunity.com/app/773640/reviews/?...
32131  http://steamcommunity.com/app/733530/reviews/?...
32132  http://steamcommunity.com/app/610660/reviews/?...
32133  http://steamcommunity.com/app/658870/reviews/?...
32134  http://steamcommunity.com/app/681550/reviews/?...

                                                   specs         price  \
0                                        [Single-player]          4.99
1      [Single-player, Multi-player, Online Multi-Pla...  Free To Play
2      [Single-player, Multi-player, Online Multi-Pla...  Free to Play
3                                        [Single-player]          0.99
4      [Single-player, Full controller support, HTC V...          2.99
...                                                  ...           ...
32130                [Single-player, Steam Achievements]          1.99
32131  [Single-player, Steam Achievements, Steam Clou...          4.99
32132  [Single-player, Steam Achievements, Steam Trad...          1.99
32133   [Single-player, Steam Achievements, Steam Cloud]          4.99
32134  [Single-player, Stats, Steam Leaderboards, HTC...          4.99

       early_access        id                 developer
0               0.0  761140.0                 Kotoshiro
1               0.0  643980.0          Secret Level SRL
2               0.0  670290.0              Poolians.com
3               0.0  767400.0                      彼岸领域
4               0.0  773570.0                      None
...             ...       ...                       ...
32130           0.0  773640.0        Nikita "Ghost_RUS"
32131           0.0  733530.0                    Sacada
32132           0.0  610660.0  Laush Dmitriy Sergeevich
32133           0.0  658870.0             xropi,stev3ns
32134           1.0  681550.0                      None

[32135 rows x 13 columns]

In [56]:
dasarrollador = "Poolians.com"

# Filtrar y combinar los datasets
contenido_free_items = df_games[['price', 'year', 'developer', 'item_id']]
df_price_items = df_items[['user_id', 'item_id']]

# Filtrar por el desarrollador dado
df_filtered = contenido_free_items[contenido_free_items['developer'] == dasarrollador]

# Merge de los datasets basado en 'item_id'
df_merged = pd.merge(df_filtered, df_price_items, on='item_id', how='left')

# Crear una columna para identificar contenido free
df_merged['is_free'] = df_merged['price'].apply(lambda x: x == 0 or x == 'Free To Play')

# Agrupar por año
grouped = df_merged.groupby('year').agg(
    total_items=('item_id', 'size'),
    free_items=('is_free', 'sum')
).reset_index()

# Calcular el porcentaje de contenido free
grouped['free_percentage'] = (grouped['free_items'] / grouped['total_items'] * 100).round(2)

# Renombrar las columnas para coincidir con el ejemplo
grouped = grouped.rename(columns={
    'release_year': 'Año',
    'total_items': 'Cantidad de Items',
    'free_percentage': 'Contenido Free'
})
    
grouped#.to_dict(orient='records')

Empty DataFrame
Columns: [year, Cantidad de Items, free_items, Contenido Free]
Index: []