Cargar los 3 datasets en uno solo para facilitar la formacion del EDA

In [1]:
import pandas as pd

In [2]:
games = pd.read_parquet('../Dataset/steam_games_clean.parquet')
items = pd.read_parquet('../Dataset/items.parquet')

Dataset steam_games

In [7]:
games.head(2)

,publisher,genres,title,price,id,developer,Accounting,Action,Adventure,Animation &amp; Modeling,...,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,[,],year
88310,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,4.99,761140.0,Kotoshiro,0,1,0,0,...,1,0,0,1,0,0,0,0,0,2018
88311,"Making Fun, Inc.","Free to Play, Indie, RPG, Strategy",Ironbound,Free To Play,643980.0,Secret Level SRL,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2018

In [8]:
# Modifico la columna id y la comvierto en un str 
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           88310 non-null  object
 1   items_count       88310 non-null  int64
 2   steam_id          88310 non-null  object
 3   playtime_forever  88310 non-null  int32
 4   playtime_2weeks   88310 non-null  int32
 5   id                88310 non-null  object
 6   item_name         88310 non-null  object
dtypes: int32(2), int64(1), object(4)
memory usage: 4.0+ MB

In [ ]:
items['id'] = items['id']