In [14]:
import pandas as pd
import json
import gzip
import ast

In [15]:
item = "../Dataset/users_items.json.gz"
data = []

with gzip.open(item, 'rt', encoding='utf-8') as file:
    for line in file:
        try:
            json_data = ast.literal_eval(line)
            data.append(json_data)
        except ValueError as e:
            print(f"Error en la l√≠nea: {line}")
            continue

items = pd.DataFrame(data)

In [16]:
items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [17]:
items['playtime_forever'] = items['items'].apply(lambda x: x[0].get('playtime_forever') if len(x) > 0 else 0)
items['playtime_2weeks'] = items['items'].apply(lambda x: x[0].get('playtime_2weeks') if len(x) > 0 else 0)
items['id'] = items['items'].apply(lambda x: x[0].get('item_id') if len(x) > 0 else 0)
items['item_name'] = items['items'].apply(lambda x: x[0].get('item_name') if len(x) > 0 else 0)

In [19]:
items['playtime_forever'] = items['playtime_forever'].astype(int)
items['playtime_2weeks'] = items['playtime_2weeks'].astype(int)

In [24]:
items.head(2)

,user_id,items_count,steam_id,user_url,items,playtime_forever,playtime_2weeks,id,item_name
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10,Counter-Strike
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10,Counter-Strike

In [25]:
items.drop(['user_url'], axis=1, inplace=True)
items.drop(['items'], axis=1, inplace=True)

In [29]:
items.head()

,user_id,items_count,steam_id,playtime_forever,playtime_2weeks,id,item_name
0,76561197970982479,277,76561197970982479,6,0,10,Counter-Strike
1,js41637,888,76561198035864385,0,0,10,Counter-Strike
2,evcentric,137,76561198007712555,923,0,1200,Red Orchestra: Ostfront 41-45
3,Riot-Punch,328,76561197963445855,0,0,10,Counter-Strike
4,doctr,541,76561198002099482,1131,0,300,Day of Defeat: Source