## Steam Games

In [25]:
import pandas as pd
import json
import gzip
import ast

#### Procedemos a cargar el dataset

In [26]:
games = pd.read_json("../Dataset/steam_games.json.gz", compression="gzip", lines=True)
games.head(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

### Se debera detectar la cantidad de valores nulos y se debera proceder a eliminarlos

In [27]:
# Identificaremos los valores nulos
games.id.isna().value_counts()

id
True     88312
False    32133
Name: count, dtype: int64

### Procedemos a eliminar los valores nulos

In [28]:
clean_games = games.dropna(how='all')

In [29]:
# Sabremos cuantos valores nulos existen en cada columna
for column in clean_games.columns:
    print(f'Hay {clean_games[column].isna().sum()} valores nulos en {column}')

Hay 8052 valores nulos en publisher
Hay 3283 valores nulos en genres
Hay 2 valores nulos en app_name
Hay 2050 valores nulos en title
Hay 0 valores nulos en url
Hay 2067 valores nulos en release_date
Hay 163 valores nulos en tags
Hay 2 valores nulos en reviews_url
Hay 670 valores nulos en specs
Hay 1377 valores nulos en price
Hay 0 valores nulos en early_access
Hay 2 valores nulos en id
Hay 3299 valores nulos en developer

In [30]:
clean_games.head(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com

### Tratamiento de datos

In [31]:
# Controlaremos las columnas y revisaremos la cantidad de valores nulos
for column in clean_games.columns:
    print(f'Hay {clean_games[column].isna().sum()} valores nulos en {column}')

Hay 8052 valores nulos en publisher
Hay 3283 valores nulos en genres
Hay 2 valores nulos en app_name
Hay 2050 valores nulos en title
Hay 0 valores nulos en url
Hay 2067 valores nulos en release_date
Hay 163 valores nulos en tags
Hay 2 valores nulos en reviews_url
Hay 670 valores nulos en specs
Hay 1377 valores nulos en price
Hay 0 valores nulos en early_access
Hay 2 valores nulos en id
Hay 3299 valores nulos en developer

* Con este analisis me di cuenta que 
* title tiene más nulos que app_name
* Tambien me tengo que sacar los nulos de relase_date
* Modificar price y eliminar los nulos

In [32]:
games = clean_games

### Elimino las columnas que no voy a usar y elimino campos vacios

In [33]:
games.drop(columns= ['title', 'url', 'tags', 'reviews_url', 'specs', 'early_access', ], inplace=True)

In [34]:
# Eliminaremos los valores nulos en la clumna llamada id
games.dropna(inplace=True)

In [35]:
for column in games.columns:
    print(f'Hay {games[column].isna().sum()} valores nulos en {column}')

Hay 0 valores nulos en publisher
Hay 0 valores nulos en genres
Hay 0 valores nulos en app_name
Hay 0 valores nulos en release_date
Hay 0 valores nulos en price
Hay 0 valores nulos en id
Hay 0 valores nulos en developer

Ahora modifico price

In [24]:
games['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 3.99, 18.99, 29.99,
       10.99, 2.99, 1.5899999999999999, 14.99, 1.99, 59.99, 9.99, 6.99,
       7.99, 39.99, 'Free', 19.99, 7.49, 8.99, 12.99, 5.99, 2.49, 15.99,
       1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 1.49, 32.99, 99.99, 14.95, 69.99, 16.99,
       79.99, 49.99, 13.98, 29.96, 149.99, 771.71, 'Install Now', 21.99,
       89.99, 'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29,
       'Free Mod', 54.99, 64.99, 74.99, 0.89, 0.5, 'Play Now', 299.99,
       1.29, 119.99, 44.99, 3.0, 15.0, 49.0, 10.93, 1.3900000000000001,
       'Free HITMAN™ Holiday Pack', 2.0, 4.0, 1.9500000000000002, 1.5,
       199.0, 189.0, 6.66, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 5.0, 3.33, 320.0, 38.85, 71.7, 995.0, 5.49, 27.49,
       3.39, 6.0, 19.95, 20.99, 499.99, 27.99, 199.99, 4.68, 131.4, 44.98,
       202.76, 2.3, 0.9500000000000001, 36.99, 172.24, 249.99,
       2.9699999999999998, 10.96, 2.66, 6.48, 10.0, 1.0, 11.15,
       'Play the Demo', 99.0, 87.94, 0.49, 9.98, 9.95, 12.89, 6.49, 1.87,
       41.99, 4.49, 289.99, 'Free to Try', 23.96, 5.65, 12.0, 23.99,
       13.37, 189.96, 124.99, 59.95, 160.91, 'Free to Use', 'Third-party'],
      dtype=object)

In [59]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   title         30085 non-null  object
 3   release_date  30068 non-null  object
 4   price         30758 non-null  object
 5   id            32133 non-null  float64
 6   developer     28836 non-null  object
dtypes: float64(1), object(6)
memory usage: 2.0+ MB

### Creamos dummys para genres

In [60]:
# Desanidar
games['genres'] = games['genres'].fillna('[]') #Relleno los valores faltantes con una lista vacia
games['genres'] = games['genres'].apply(lambda x: ', '.join(x)) #Convertir la lista de generos separada por comas

In [61]:
games.head(5)

,publisher,genres,title,release_date,price,id,developer
88310,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro
88311,"Making Fun, Inc.","Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,Free To Play,643980.0,Secret Level SRL
88312,Poolians.com,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290.0,Poolians.com
88313,彼岸领域,"Action, Adventure, Casual",弹炸人2222,2017-12-07,0.99,767400.0,彼岸领域
88314,None,"[, ]",None,None,2.99,773570.0,None

Creamos variables para los generos

In [62]:
dummy_genres = games['genres'].str.get_dummies(', ')

Concateno las variables con el Dataframe original

In [63]:
games_with_dymmys = pd.concat([games, dummy_genres], axis=1)

In [64]:
games_with_dymmys.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   publisher                  24083 non-null  object
 1   genres                     32135 non-null  object
 2   title                      30085 non-null  object
 3   release_date               30068 non-null  object
 4   price                      30758 non-null  object
 5   id                         32133 non-null  float64
 6   developer                  28836 non-null  object
 7   Accounting                 32135 non-null  int64
 8   Action                     32135 non-null  int64
 9   Adventure                  32135 non-null  int64
 10  Animation &amp; Modeling   32135 non-null  int64
 11  Audio Production           32135 non-null  int64
 12  Casual                     32135 non-null  int64
 13  Design &amp; Illustration  32135 non-null  int64
 14  Early Access               32135 non-null  int64
 15  Education                  32135 non-null  int64
 16  Free to Play               32135 non-null  int64
 17  Indie                      32135 non-null  int64
 18  Massively Multiplayer      32135 non-null  int64
 19  Photo Editing              32135 non-null  int64
 20  RPG                        32135 non-null  int64
 21  Racing                     32135 non-null  int64
 22  Simulation                 32135 non-null  int64
 23  Software Training          32135 non-null  int64
 24  Sports                     32135 non-null  int64
 25  Strategy                   32135 non-null  int64
 26  Utilities                  32135 non-null  int64
 27  Video Production           32135 non-null  int64
 28  Web Publishing             32135 non-null  int64
 29  [                          32135 non-null  int64
 30  ]                          32135 non-null  int64
dtypes: float64(1), int64(24), object(6)
memory usage: 7.8+ MB

De la columna release_date extraigo solo el año

In [65]:
games = games_with_dymmys

In [66]:
# Reemplazar los valores no validos por NaN
games['release_date'] = pd.to_datetime(games['release_date'], errors='coerce')

# Filtrar el DataFrame para obtener los registros validos
games_filtered = games.dropna(subset=['release_date'])

# Convierto la columna "release_date" a tipo datatime
games_filtered.loc[:, 'release_date'] = pd.to_datetime(games_filtered['release_date'])

In [67]:
# Relleno los valores faltantes con mode
column_mode = ['release_date']
for col in column_mode:
    games[col] = games[col].fillna(games[col].mode()[0])

In [68]:
# Modelar y eliminacion de la columna 'release_date' 
games['year'] = games['release_date'].dt.year.astype('Int64')
games.drop('release_date', axis=1, inplace=True)

In [69]:
for column in games.columns:
    print(f'Hay {games[column].isna().sum()} valores nulos en {column}')

Hay 8052 valores nulos en publisher
Hay 0 valores nulos en genres
Hay 2050 valores nulos en title
Hay 1377 valores nulos en price
Hay 2 valores nulos en id
Hay 3299 valores nulos en developer
Hay 0 valores nulos en Accounting
Hay 0 valores nulos en Action
Hay 0 valores nulos en Adventure
Hay 0 valores nulos en Animation &amp; Modeling
Hay 0 valores nulos en Audio Production
Hay 0 valores nulos en Casual
Hay 0 valores nulos en Design &amp; Illustration
Hay 0 valores nulos en Early Access
Hay 0 valores nulos en Education
Hay 0 valores nulos en Free to Play
Hay 0 valores nulos en Indie
Hay 0 valores nulos en Massively Multiplayer
Hay 0 valores nulos en Photo Editing
Hay 0 valores nulos en RPG
Hay 0 valores nulos en Racing
Hay 0 valores nulos en Simulation
Hay 0 valores nulos en Software Training
Hay 0 valores nulos en Sports
Hay 0 valores nulos en Strategy
Hay 0 valores nulos en Utilities
Hay 0 valores nulos en Video Production
Hay 0 valores nulos en Web Publishing
Hay 0 valores nulos en [
Hay 0 valores nulos en ]
Hay 0 valores nulos en year

Importamos a Parquet

In [70]:
# Convertir todas las columnas de tipo 'object' a 'string'
for column in games.select_dtypes(include=['object']).columns:
    games[column] = games[column].astype(str)

In [71]:
games.to_parquet('../Dataset/games_clean.parquet')
# 120444